body,html{margin: 0;}
body{min-width: 300px;}
div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,strong,ol,ul,li,form,label,table,tbody,tfoot,thead,tr,th,td,
article,footer,header,nav,output,audio,video,address
{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;font-style:normal}
a:hover{text-decoration:none}:focus{outline:none}html{width:100%;height:100%;min-width:300px;
    line-height:1;position:relative;text-rendering:optimizeLegibility;text-decoration-skip:objects;
    -webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-webkit-tap-highlight-color:transparent}
    a{text-decoration:none;transition:.5s;}ul{list-style-type:none}button{cursor:pointer;transition:.5s}
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
    blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
    table{border-collapse:collapse;border-spacing:0}audio:not([controls]){display:none;height:0}i
    frame{border:none}img{display:block;border:none;max-width:100%;height:auto;-ms-interpolation-mode:bicubic}
    pre,code,kbd,samp{font-family:monospace,monospace;font-size:inherit}button,[type='button'],[type='reset'],
    [type='submit']{cursor:pointer;-webkit-appearance:none}textarea{resize:none;overflow-y:auto;overflow-x:hidden}
    button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,
    [type='submit']::-moz-focus-inner{border:none;padding:0}button:-moz-focusring,[type='button']:-m
    oz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:none}[type='number']::-
    webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{height:auto}[type='search']::-webk
    it-search-decoration{-webkit-appearance:none}[type='search']{outline:none}input[type=search]::-webkit

    -search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,
    input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}
    input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing
        :content-box;box-sizing:content-box}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
        fieldset{padding:0;margin:0;border:none}legend{display:block;padding:0;white-space:normal}
        select{-webkit-appearance:none;-moz-appearance:none;appearance:none}select::-ms-expand{display:n
            one}::-webkit-input-placeholder{color:inherit;opacity:1;transition:opacity .3s}::-moz-placeh
            older{color:inherit;opacity:1;transition:opacity .3s}:-moz-placeholder{color:inherit;opacity:1;tran
                sition:opacity .3s}:-ms-input-placeholder{color:inherit;opacity:1;transition:opacity .3s}:focus::-w
                ebkit-input-placeholder{opacity:0}:focus::-moz-placeholder{opacity:0}:focus:-moz-placeholder{opacity:0
                }:focus:-ms-input-placeholder{opacity:0}:disabled,.disabled{cursor:not-allowed}::-ms-clear{display:none}:-
                webkit-autofill{box-shadow:0 0 100px #fff inset;-webkit-text-fill-color:currentColor} textarea,input[ty
                pe="text"],input[type="button"],input[type="submit"],input[type="reset"], input[type="search"] {-web
                    kit-appearance: none;border-radius: 0;}button{outline:none;border:none;background-color:transparent}