body, html {
    margin: 0;
}

body {
    min-width: 300px;
}

div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, strong, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td,
article, footer, header, nav, output, audio, video, address {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal
}

a:hover {
    text-decoration: none
}

:focus {
    outline: none
}

html {
    width: 100%;
    height: 100%;
    min-width: 300px;
    line-height: 1;
    position: relative;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent
}

a {
    text-decoration: none;
    transition: .5s;
}

ul {
    list-style-type: none
}

button {
    cursor: pointer;
    transition: .5s
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

audio:not([controls]) {
    display: none;
    height: 0
}

iframe {
    border: none
}

img {
    display: block;
    border: none;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
    font-size: inherit
}

button {
    cursor: pointer;
    -webkit-appearance: none
}

textarea {
    resize: none;
    overflow-y: auto;
    overflow-x: hidden
}

fieldset {
    padding: 0;
    margin: 0;
    border: none
}

legend {
    display: block;
    padding: 0;
    white-space: normal
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

button {
    outline: none;
    border: none;
    background-color: transparent
}