* {
 box-sizing: border-box;
}
body{
 background-color:white;
}
ul{
 padding:0;
 margin:0;
}
li{
 list-style:none;
}
a, a:visited{
 text-decoration:none;
 color:inherit;
}
.container {
 max-width:1253px;
 width:100%;
 margin:0 auto;
}
.logo{
 display:inline-block;
}
.logo img{
 display:block;
 max-width:400px;
 max-height:98px;
}
.header-contact{
 display:flex;
 justify-content: flex-end;
 padding:0 0 50px 0;
}
.menu{
 background:white;
}
.phone{
 background-image:url(img/ico-phone.png);
}
.geo{
 background-image:url(img/ico-geo.png);
}
.mail{
 background-image:url(img/ico-email.png);
}
.phone, .geo, .mail{
 display: block;
 position: relative;
 width: 31px;
 height: 34px;
 background-repeat: no-repeat;
 background-size: auto;
 background-position: top center;
}
.phone:hover, .geo:hover, .mail:hover{
 background-position: bottom center;
}
.divide{
 background-image:url(img/divide.png);
 background-repeat: no-repeat;
 display: block;
 position: relative;
 margin:0 20px;
 width: 2px;
 height: 34px; 
}
.panel{
 border-top:1px solid #eceef4;
}
.header-menu{
 max-width:1253px;
 width:100%;
 margin:0 auto;
 display:flex;
 align-items:center;
 justify-content:space-between;
 padding:0 0 0 20px;
 max-height:86px;
}
.menu{
 display:flex;
 min-width:905px;
 justify-content:space-between;
}
.menu-item{
 display:inline-block;
 line-height: 27px;
 color: #6d6e71;
 font-family: "Open Sans";
 font-weight: 800;
}
.menu-item a{
 display:inline-block;
 padding:28px 26px;
}
.menu-item:not(:last-child) a{
 border-right:1px solid #eceef4;
}
.menu-item a:hover{
 color:#1faae2;
}
.search{
 display:flex;
 align-items:center;
 justify-content:flex-end;
}
.search-input{
 border:0 none;
 font-size: 15px;
 outline:none;
}
.search::before {
 content: '';
 display: block;
 position: relative;
 left: -12px;
 width: 25px;
 height: 25px;
 padding: 0;
 background-image: url(img/ico-search.png);
 background-repeat: no-repeat;
}