.image-1 {
  width:300px;
  height:300px;
  border-radius: 50%;
}

.image-2 {
  width:300px;
  height:300px;
  background: url(image/kosmos.jpg);
  -webkit-mask-image: url(image/honey.svg);
  -webkit-mask-size:300px;
}
