body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    margin-bottom: 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 60px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top-socials {
    display: flex;
    align-items: flex-end;
}

.header__top-social {
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.header__top-social + .header__top-social {
    margin-right: 20px;
}

.pop-up {
    display: none;
    position: absolute;
    border: 2px solid #d4d4d5;
    border-radius: 5px;
    padding: 20px;
    color: #6d6e71;
    background-color: #fff;
    text-align: center;
}

.header__top-social:hover .pop-up {
    display:block;
    position:absolute;
    top:-65px;
    right:-107px;
    width:200px;
    height: 15px;
}

.pop-up::after, .pop-up::before {
    content: "";
    position: absolute;
}

.pop-up:before {
    border-left: 10px solid rgba(113, 101, 58, 0);
    border-right: 10px solid rgba(113, 101, 58, 0);
    border-top: 10px solid #d4d4d5;
    left: 108px;
    bottom: -10px;
}

.pop-up:after {
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-top: 10px solid #fff;
    left: 108px;
    bottom: -8px;
}

.header__top-link {
    cursor: pointer;
    font-size: 34px;
    color: #87888a;
}

.header__top-link:hover {
    color: #1faae2;
}

.vertical-line {
    width: 1px;
    height: 24px;
    background-color: #87888a;
    margin-right: 20px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.btn-menu {
    display: none;
}

.menu__list-item {
    display: inline-block;
}

.menu__list-item + .menu__list-item {
    margin-left: 42px;   
}

.menu__list-item {
    color: #6d6e71;
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
}

.menu__list-link {
    height: 50px;
    width: 50px;
}   

.menu__list-link:hover {
    position: relative;
    padding-bottom: 39px;
    color: #1faae2;
}

.menu__list-link:hover:after {
    content: ''; 
    position: absolute; 
    left: 0;
    bottom: -20px;
    border: 23px solid transparent;
    border-bottom: 15px solid #1faae2;
}

.logo-2 {
    display: none;
}

.header__bottom-form {
    display: flex;
    align-items: center;
}

.header__bottom-search {
    outline: none;
    border: none;
    width: 175px;
}

::-webkit-input-placeholder {
    color: #6d6e71;
    font-size: 15px;
    line-height: 27px;
}

::-moz-placeholder {
    color: #6d6e71;
    font-size: 15px;
    line-height: 27px;
}

:-moz-placeholder {
    color: #6d6e71;
    font-size: 15px;
    line-height: 27px;
}

:-ms-input-placeholder {
    color: #6d6e71;
    font-size: 15px;
    line-height: 27px;
}

.header__bottom-button {
    background: none;
}

.header__bottom-button i {
    font-size: 27px;
    color: #6d6e71;
}

.presentation {
    background: url(image/bg.png) no-repeat top center;
    height: 885px;
    z-index: 1;
    position: relative;
}

.presentation__title {
    display: flex;
    justify-content: center; 
    padding-top: 265px;
    position: relative;
}

.presentation__title-main {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    position: relative;
    font-weight: 700;
    font-size: 51px;
}

.presentation__and {
    color: #bbedff;
    font-size: 25px;
    position: absolute;
    left: 4px;
    top: -13px;
    font-size: 106px;
    font-weight: 700;
    z-index: -1;
}

.presentation__title-sub {
    position: absolute;
    left: 92px;
    top: 63px;
    font-weight: 300;
    font-size: 34px;
    color: #fff;
}

.presentation__slider-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 153px;
    margin-left: 0;
}

.presentation__slider {
    display: flex;
}

.presentation__slider-image-1 {
    background-image: url(image/presentation-image-1.png);
    width: 322px;
    height: 240px;
    display: flex;
    align-items: flex-end;
}

.presentation__slider-image-2 {
    background-image: url(image/presentation-image-2.png);
    width: 322px;
    height: 240px;
    display: flex;
    align-items: flex-end;
}

.presentation__slider-arrow {
    border: none;
    background-color: #f4f4f4;
    outline: none;
    cursor: pointer;
    width: 111px;
}

.presentation__slider-like {
    height: 65px;
    width: 322px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}

.presentation__slider-like::before {
    content: "";
    width: 32px;
    height: 29px;
    margin-right: 12px;
}

.greenlike {
    background-color: rgba(136, 201, 78, 0.8); 
    color: #fff;
}

.greenlike::before {
    background-image: url(image/green-heart.png);
}

.yellowlike {
    background-color: rgba(254, 235, 117, 0.8);
    color: #cc9800;
}

.yellowlike::before {
    background-image: url(image/yellow-heart.png);
}

.about { 
    margin-bottom: 184px;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__item {
    display: flex;
}

.about__item img {
    width: 105px;
    height: 120px;
    margin-right: 30px;
}

.about__text {
    max-width: 390px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.about__article {
    color: #6d6e71;
}

.about__title {
    font-size: 26px;
    margin: 15px 0;
}
