@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 35px;
    }

    .presentation__and {
        left: 146px;
    }

    .presentation__title-main span {
        left: 250px;
    }

    .presentation__slider-wrapper,
    .header__top-social,
    .vertical-line,
    .header__top,
    .menu {
        display: none;
    }

    .header__bottom {
        height: 83px;
        display: flex;
        justify-content: space-between;
    }

    .btn-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 51px;
        height: 48px;
        margin-top: 18px;
    }

    .btn-menu__line {
        width: 51px;
        height: 8px;
        background: #3382c5;
    }

    .logo-2{
        width: 165px;
        height: 50px;
        background-image: url(image/logo-2.png);
        margin-left: 95px;
    }

    .about__items {
        display: block;
    }

    .about__text {
        width: 648px;
    }
}