main {
  display: flex;
}

body {
  padding: 30px;
}

header {
  background: lightblue;
}

section {
  background: lightgreen;
  flex-basis: 75%;
}

article {
  background: white;
  margin: 0 0 1rem 0;
}

aside {
  background: pink;
  flex-basis: 25%;
}

header, article, section, .module {
  padding: 1rem;
}
