button:hover {
    text-decoration: none;
}

button:active {
    top: 3px;
}

img {
    width: 10px;
    height: 10px;
}

div {
    position: absolute;
    border: 0.4px solid rgba(95, 95, 95, 0.5);
    border-radius: 7px;
    width: 94px;
    height: 24px;
    top: 32px;
    left: 32px;
}

button {
    position: absolute;
    border: 0.4px solid rgba(95, 95, 95, 0.5);
    border-radius: 5px;
    font: 9px 'tahoma';
    font-weight: 800;
    color: rgba(41, 41, 41, 0.5);
    text-shadow: 0 1px 1px rgba(31, 31, 31, 0.3);
    box-shadow: 0 0 1px 1.4px rgba(145, 145, 145, 0.5);
    width: 90px;
    height: 20px;
    top: 2px;
    left: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#aaa9a9));
}