* {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header {
    background: lightblue;
    flex: 0 0 100%;
}

section {
    background: lightgreen;
    flex: 0 0 75%;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}

aside {
    background: pink;
    max-width: 25%;
    flex: 0 0 25%;
}

header, article, section, .module {
    padding: 1rem;
}