button {
  color: #55555575;
  font-size: 3.6rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
  padding: 1rem;
  margin: 2rem;
  border-radius: 20px;
  background: linear-gradient(to bottom, rgb(212, 212, 212) 0%, rgb(214, 214, 214) 43%, rgb(185, 185, 185) 55%, rgb(163, 163, 163) 100%);
  width: 520px;
  height: 120px;
  box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.77),
              0px 0px 0px 6px rgba(186, 186, 186, 0.58),
              0px 0px 0px 10px rgb(255, 255, 255),
              0px 0px 0px 12px rgb(0, 0, 0);
}