* {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
  }
  header {
    background: lightblue;
  }
.container {
    display: flex;
}

  section {
    background: lightgreen;
    width: 75%;
  

  }
  article {
    background: white;
    margin: 0 0 1rem 0;
  }
  aside {
    background: pink;
    width: 25%;
   
  }
  header, article, section, .module {
    padding: 1rem;
  }