body {
    display: grid;
    place-items: center;

}

.background {
    background-color: #d8d8d8;
    padding: 7px;
    border-radius: 16px;
    border: 1px solid #666666;
    outline: 1px solid #fff;
    outline-offset: -2px;
}

button {
    background: linear-gradient(#dfdfdf, #b0b0b0);
    width: 240px;
    height: 60px;
    border: #bdbdbd 1px;
    border-radius: 11px;
    box-shadow: 0 0 5px 0;
    color: #555555;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 24px;
    padding: 0 9px 0 9px;
}