html,body{
	width:100%;
	height:100%;
}

.wrapper{
	width:100%;
	height:100%;
	position:relative;
    overflow:scroll;
}
.horizontalBars{
	position: absolute;
	display:flex;
	width:100%;
	height:100%;
    justify-content:space-between;
    flex-direction:column;
    align-items:flex-start;
}

.horizontalBars img{
	width:100%;
	height:4.7%;
}

.leftVerticalBar{
	position:absolute;
	display:flex;
	width:15%;
	height:100%;
    justify-content:flex-start;
    align-items:center;
    z-index: 1;
}

.leftVerticalBar img{
	height:91%;
	width:100%;
}


    .UpperRightMenu{
    position:absolute;
    width:100%;
	height:4.7%;
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
    align-items:flex-start;
}

  .UpperRightMenu_inside{
  	position:absolute;
    width:100%;
	height:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.UpperRightMenu_inside input:hover{
    box-shadow:0 0 10px 10px azure;

}

.LowerRightMenu{
    position:absolute;
    top:95.3%;
    width:100%;
	height:4.7%;
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
    align-items:center;
}

.LowerRightMenu input:hover{
    box-shadow:0 0 10px 10px azure;

}

.Divide{
    display:block;
    position:absolute;
    z-index:1;
    width:100%;
    height:1%;
}


.Divide:nth-child(1){
    top:0%;
}

.Divide:nth-child(2){
    top:15%;
}

.Divide:nth-child(3){
    top:50%;
}

.Divide:nth-child(4){
    top:70%;
}

.addABook{
    display: flex;
    justify-content:center;
    position:absolute;
    width:100%;
    height:15%;
    z-index:1;
    top:7%;
}

.addABook input:hover{
    box-shadow:0 0 20px 20px azure;

}


.addingABook{
    z-index:1;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:black;
}

.must{
    z-index:1;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:black;
}

fieldset{
   border: solid 2px blue;  
   box-shadow: 10px 10px 10px blue
}

.leftMenu{
    display: flex;
    position:absolute;
    flex-direction:column;
    justify-content:space-around;
    margin-left:15%;
    width:100%;
    height:33%;
    z-index:1;
    top:16%;
}

.leftMenu input:hover{
    box-shadow:0 0 20px 20px azure;

}



.leftMenu_2{
    display: flex;
    position:absolute;
    flex-direction:column;
    justify-content:space-around;
    margin-left:15%;
    width:100%;
    height:18%;
    z-index:1;
    top:52%;
}

.leftMenu_2 input:hover{
    box-shadow:0 0 20px 20px azure;

}

.leftMenu_3{
    display: flex;
    position:absolute;
    flex-direction:column;
    justify-content:space-around;
    margin-left:0%;
    width:100%;
    height:25%;
    z-index:1;
    top:71%;
    text-align:left;
    color:grey;
}

.leftMenu_3 input:hover{
    box-shadow:0 0 20px 20px azure;

}

.Books_vertical{
    display: flex;
    position:absolute;
    /*flex-direction:column;*/
    justify-content:space-around;
    align-items:space-around;
    flex-wrap:wrap;
    left:15%;
    width:85%;
    height:78%;
    z-index:1;
    top:16.7%;
}

 /*.Books_horizontal{
    width:100%;
    height:50%;
    position:relative;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:space-around;

}*/

.Books_vertical .Books_horizontal input:hover{
    box-shadow:0 0 20px 20px lightseagreen;

}


.top_horizontal{
    display: block;
    position:relative;
    left:15%;
    width:85%;
    height:11%;
    z-index:1;
    top:4.7%;
}

.browseAvailable{
    top:0%;
    display: flex;
    position:absolute;
    width:100%;
    height:60%;
    align-items:center;
    margin-left:4%;
}

.top_horizontal_menu{
    top:60%;
    display: flex;
    position:absolute;
    width:100%;
    height:40%;
    align-items:center;
    justify-content:space-around;
    margin-left:3%;
}

.top_horizontal_menu_inside1{
    top:0%;
    left:0%;
    display: flex;
    width:50%;
    height:100%;
    align-items:center;
    justify-content:flex-start;
}

.top_horizontal_menu_inside1 input:hover{
    box-shadow:0 0 10px 10px lightseagreen;
}

.top_horizontal_menu_inside1 input{
    margin-left:3%;
}

.top_horizontal_menu_inside2{
    top:0%;
    right:0%;
    display: flex;
    width:50%;
    height:100%;
    align-items:center;
    justify-content:center;
}

.top_horizontal_menu_inside2 input:hover{
    box-shadow:0 0 10px 10px lightseagreen;
}




















