body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    background: #0067A3;
}

.header__title-wrapper {
    display: flex;
    margin-left: 14px;
}

.header__main-list {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.main-list__wrapper {
    background: none;
}

.main-list__string {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.main-list__circle {
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 40%;
    margin-right: 3px;
}

.main-list__line {
    Width: 20px;
    Height: 2px;
    background: #fff;
}

.header__title {
    margin: 0;
    font-size: 28px;
    line-height: 33px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 6px;
}

.header__button-wrapper {
    display: flex;
    align-items: center;
}

.header__user-list {
    display: flex;
    align-items: center;
    margin-left: 48px;
}

.header__user-arrow {
    cursor: pointer;
}

.header__create-button {
    width: 181px;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    background: #fff;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
}

.header__add-img {
    margin-right: 13px;
}

.footer {
    height: 53px;
    background: #0067A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}

.footer__tasks {
    display: flex;
    margin-left: 67px;
}

.footer__active-task {
    margin-right: 36px;
}

.footer__information {
    margin-right: 24px;
}

