.main {
    position: absolute;
    display: flex;
    top: 55px;
    width: 100%;
    height: 90%;
    background: #0079BF;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    column-gap: none;
}

.main .container {
    position: relative;
    display: inline-block;
    top: 20px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 550px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding: 5px;
    padding-left: 12px;

    overflow: auto;
}

.container .task {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.span1 {
    display: inline-block;
    width: 280px;
}


.span2 {
    font-size: 30px;
}

.span3 {
    color: #5E6C84;
}

.inputTask {
    margin-left: 2px;
    border: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}