html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin:0px;
    color:#78829D;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 30px ;
}
header {
    grid-row: 1/2;
    grid-column:1/3;
    background: #2F364A;
}
section {
    display: grid;
    background: #1F2637;
    grid-row: 2/3;
    grid-column: 1/2;
}
article{
    background: white;
    grid-row: 2/3;
    grid-column : 2/3;
}
footer {
    grid-row: 3/4;
    grid-column: 1/3;
    background: #181E2C;
}
.aside-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    border-bottom: 7px solid #19202E;
}
 .bottom {
    background: #F2795A; 
    border: none;
    border-radius: 3px;
    padding: 13px;
    cursor: pointer;
}
.bottom span {
    white-space: pre;
    color:white;
    text-transform: uppercase;
    font-size: 16px; 
    font-weight: 700;
} 
.aside-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 7px solid #19202E;
    padding-bottom: 12px;
} 
a {
    text-decoration: none;
    color:#78829D;
}
.nav-item {
    padding: 8px 0px 8px 12px;
}
.item-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
}
.nav-item:hover {
    background: #15A4FA;
    color:white;
} 
.nav-item:hover .item-icon {
    filter: brightness(200%);
}
.aside-selections {
    width: 100%;
    border-bottom: 7px solid #19202E;
}
.aside-selections ul {
    padding: 0; 
}
.selections-list li {
    list-style-type: none; 
    text-transform:capitalize;
    padding:2px 0px 2px 15px;
}
.selections-list li:nth-child(1):before {
    color: #E54C66;
    content: "•"; 
    font-size:21pt;
    padding-right: 17px; 
}
.selections-list li:nth-child(2):before {
    color: #F5A701;
    content: "•";
    font-size:21pt;
    padding-right: 17px; 
}
.selections-list li:nth-child(3)::before {
    color: #00BDDB;
    content: "•";
    font-size:21pt;
    padding-right: 17px; 
}
.selections-list li:nth-child(4)::before {
    color:#7774CF;
    content: "•";
    font-size:21pt;
    padding-right: 17px;  
}
.selections-link:hover {
    background: #15A4FA;
}
.selections-link:hover a{
     color:white;
}
.aside-history-time {
    margin-top: 20px; 
    font-style: italic;
}
.aside-history-item{
    list-style-type: none;
    background-image: url("img/clock.svg");
	background-repeat: no-repeat;
	background-position: left top;
    background-size: 16px; 
    padding-left: 36px;
    margin:15px 13px 12px 12px;
}