@font-face {
    font-family: FontAwesome;
    src: url("assets/fonts/FontAwesome.otf");
}

@font-face {
    font-family: Proxima;
    src: url("assets/fonts/Proxima Nova Regular.otf");
}

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #2f364a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-family: FontAwesome, Arial;
}

nav a {
    margin-left: 10px;
    color: #78829d;
    text-decoration: none;
}

nav a:hover,
button:hover {
    color: #fff;
    opacity: 0.9;
    transition: 1s;
}

.user_card {
    background-color: #15a4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 0 10px 0 10px;
    gap: 10px;
}

.user_card img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: #fff solid 2px;
    margin: 2px 0 2px 0;
}

.user_button {
    background: url(/src/library_task/assets/img/profile_button.png) 100% 100% / 100% 100% no-repeat;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

/* LEFT PANNEL */

.left_pannel {
    background-color: #1f2637;
    width: 20%;
    flex: 1 1 auto;
}

.left_pannel_add_book {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 0px #19202e;
}

.add_book_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    margin: 20px 0 20px 0;
    font-family: Proxima;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffff;
    background-color: #f2795a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add_book_button img {
    width: 10px;
    margin-right: 3px;
}

.left_menu {
    margin: 5px 0 5px 0;
    box-shadow: 0px 3px 0px #19202e;
}

.left_menu_inner {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.left_menu_inner img {
    width: 12px;
    margin: 0 10px 0 5px;
}

.left_menu_inner a {
    margin: 7px 0 7px 0;
    text-decoration: none;
    text-transform: capitalize;
    color: #78829d;
    font-family: Proxima;
    font-size: 15px;
}

.left_menu_inner:hover {
    background-color: #15a4fa;
    color: #fff;
}

.left_menu_inner:hover.left_menu_inner a {
    color: #fff;
}

.left_menu_inner:hover.left_menu_inner img {
    filter: brightness(0) invert(1);
}

.categories {
    box-shadow: 0px 3px 0px #19202e;
}

.categories ul {
    padding: 0 0 0 25px;
}

.categories li {
    color: #78829d;
    font-family: Proxima;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 0 20px 3px;
    cursor: pointer;
}

.categories li:hover {
    color: #fff;
}

.categories li:nth-child(1)::marker {
    color: pink;
}

.categories li:nth-child(2)::marker {
    color: yellow;
}

.categories li:nth-child(3)::marker {
    color: blue;
}

.categories li:nth-child(4)::marker {
    color: violet;
}

.notification_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
}

.notifications img {
    width: 10px;
    padding-top: 10px;
}

.notifications_text,
.notifications_time {
    color: #78829d;
    font-family: Proxima;
    font-size: 10px;
    font-weight: 300;
    padding-left: 10px;
}

.notifications_time {
    font-size: 8px;
}

/* MAIN */

.page {
    width: 80%;
}

.page_name,
.page_search {
    background-color: #eef1f7;
    height: 60px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1)
}

.page_name h1 {
    padding: 20px 0 20px 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    font-family: Proxima;
    font-weight: 300;
    color: #444c63;
}

.page_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_search p {
    margin: 0 15px;
}

.filter {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 200;
    font-family: 12px Proxima;
    color: #8c97b2;
}

.search {
    padding: 10px 15px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    border-radius: 15px;
    background: url(/src/library_task/assets/img/search.png) 90% no-repeat;
    background-color: #fff;
    border: 1px solid rgba(7, 104, 99, 0.4);
    font: 13px Tahoma;
    outline: none;
}

.books_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.book_item img {
    width: 190px;
    height: 260px;
    padding: 10px 10px 0 10px;
}

.book_item h1,
.book_item h2 {
    color: #444c63;
    font-size: 16px;
    font-family: Proxima;
    font-weight: 600;
    margin: 0 20px 5px 20px;
    cursor: pointer;
}

.book_item h2 {
    font-size: 10px;
    font-weight: 300;
}

.stars {
    padding-left: 20px;
}

.stars img {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #181e2c;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question_item_button {
    background: url(/src/library_task/assets/img/question_item.png) 100% 100% / 100% 100% no-repeat;
}

.settings_item_button {
    background: url(/src/library_task/assets/img/settings_item.png) 100% 100% / 100% 100% no-repeat;
}

.settings_item {
    background-color: #15a4fa;
}

.question_item {
    background-color: #1f2637;
}

footer button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    margin: 5px 10px 5px;
}