@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&subset=cyrillic');
.downloadedFont{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}